# Database
DATABASE_PASSWORD=your_secure_password_here

# Replicate API Token
REPLICATE_API_TOKEN=r8_your_token_here

# NextAuth
NEXTAUTH_SECRET=your_secret_here
NEXTAUTH_URL=https://room-gpt.ru

# Email (для Magic Link)
EMAIL_SERVER=smtp://user:password@smtp.example.com:587
EMAIL_FROM=noreply@room-gpt.ru

# Yandex OAuth
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=


